In [1]:
#import and read
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
school_data

    School ID            school_name         type  size   budget
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

In [2]:
#read student data csv
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

In [3]:
#merge csv files
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [4]:
#number of unique schools
number_of_schools = school_data['school_name'].count()
number_of_schools

15

In [5]:
#total students
total_students = student_data['student_name'].count()
total_students

39170

In [6]:
#total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [7]:
#average maths score
ave_maths_score = school_data_complete['maths_score'].mean()
ave_maths_score

70.33819249425581

In [8]:
#average reading scores
ave_reading_score = school_data_complete['reading_score'].mean()
ave_reading_score

69.98013786060761

In [9]:
# % passing maths
passing_maths = school_data_complete.loc[school_data_complete['maths_score']>=50, :]
passing_maths_percent = passing_maths['maths_score'].count()/total_students*100
passing_maths_percent

86.07863160582077

In [10]:
# % passing reading
passing_reading = school_data_complete.loc[school_data_complete['reading_score']>=50, :]
passing_reading_percent = passing_reading['reading_score'].count()/total_students*100
passing_reading_percent

84.42685728874139

In [11]:
# % overall passing
overall_passing = school_data_complete.loc[(school_data_complete['reading_score']>=50) & (school_data_complete['maths_score']>=50),:]
overall_passing_percent = overall_passing['maths_score'].count()/total_students*100
overall_passing_percent

72.80827163645647

In [12]:
#print summary dataframe
local_gov_summary_df = pd.DataFrame({
    "Total Schools": [number_of_schools],
    'Total Students': [total_students],
    'Total School Budget':[total_budget],
    'Average Maths Score':[ave_maths_score],
    'Average Reading Score':[ave_reading_score],
    '% Passing Maths':[passing_maths_percent],
    '% Passing Reading':[passing_reading_percent],
    '% Passing Overall':[overall_passing_percent]
     })
local_gov_summary_df

,Total Schools,Total Students,Total School Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Passing Overall
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

In [13]:
#check index
school_name_index

                       School ID         type  size   budget
school_name
Huang High School              0   Government  2917  1910635
Figueroa High School           1   Government  2949  1884411
Shelton High School            2  Independent  1761  1056600
Hernandez High School          3   Government  4635  3022020
Griffin High School            4  Independent  1468   917500
Wilson High School             5  Independent  2283  1319574
Cabrera High School            6  Independent  1858  1081356
Bailey High School             7   Government  4976  3124928
Holden High School             8  Independent   427   248087
Pena High School               9  Independent   962   585858
Wright High School            10  Independent  1800  1049400
Rodriguez High School         11   Government  3999  2547363
Johnson High School           12   Government  4761  3094650
Ford High School              13   Government  2739  1763916
Thomas High School            14  Independent  1635  1043130

In [14]:
#change index in student data df,
student_data_index = student_data.set_index('school_name')

In [15]:
#define school type per school
school_type = school_name_index['type']
school_type

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [16]:
#define student count grouped by schools
total_school_count = school_data_complete.groupby(['school_name'])['student_name'].count()
total_school_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [17]:
#define budget per school,
school_budget = school_data_complete.groupby(['school_name'])['budget'].mean()

In [18]:
#define budget per student at each school
per_student_budget = school_budget/total_school_count

In [19]:
#average maths score at each school
ave_school_maths_score = school_data_complete.groupby(['school_name'])['maths_score'].mean()

In [20]:
#average reading scores per school
ave_school_reading_score = school_data_complete.groupby(['school_name'])['reading_score'].mean()

In [21]:
#filter for only students passing maths,
pass_math = school_data_complete.loc[school_data_complete['maths_score']>=50, :]

In [22]:
#count of students passing maths per school
passingmaths_count = pass_math.groupby(['school_name'])['maths_score'].count()

In [23]:
#percentage of students passing maths at each school
passingmaths_percent = passingmaths_count/total_school_count*100

In [24]:
#filter by students passing reading
passreading_locate = school_data_complete.loc[school_data_complete['reading_score']>=50, :]

In [25]:
#count of students passing reading at each school
passreading_count = passreading_locate.groupby(['school_name'])['reading_score'].count()

In [26]:
#percentage of students passing at each school,
passreading_percent = passreading_count/total_school_count*100

In [27]:
#count of students passing overall per school
school_overallpass_count = overall_passing.groupby(['school_name'])['maths_score'].count()

In [28]:
#percentage of students passing overall at each school
school_overallpass_percent = school_overallpass_count/total_school_count*100

In [29]:
#set the index column to school name,
schoolsummary_df = pd.DataFrame(index=school_name_index.index)

In [30]:
#add columns to the school summary dataframe(note: realised later there is a more efficient way of doing this)
schoolsummary_df['School Type'] = school_type
schoolsummary_df['Total Students'] = total_school_count
schoolsummary_df['Total School Budget'] = school_budget
schoolsummary_df['Per Student Budget'] = per_student_budget
schoolsummary_df['Average Maths Score'] = ave_school_maths_score
schoolsummary_df['Average Reading Score'] = ave_school_reading_score
schoolsummary_df['% Passing Maths'] = passingmaths_percent
schoolsummary_df['% Passing Reading'] = passreading_percent
schoolsummary_df['% Passing Overall'] = school_overallpass_percent

In [31]:
#rename the index column ,title
schoolsummary_df.index.names = ['School Name']

In [32]:
#print school summary df
schoolsummary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Passing Overall
School Name,,,,,,,,,
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Holden High School,Independent,427,248087.0,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Pena High School,Independent,962,585858.0,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Thomas High School,Independent,1635,1043130.0,638.0,69.581651,69.768807,83.853211,82.629969,69.480122

In [97]:
#sort school summary to show best performing schools,
top_schools = schoolsummary_df.sort_values('% Passing Overall', ascending=False).head(5)
top_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Passing Overall,Spending Ranges (Per Student),School Size
School Name,,,,,,,,,,,
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630,Medium (1000-2000)
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791,<$585,Medium (1000-2000)
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630,Large (2000-5000)
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222,<$585,Medium (1000-2000)
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645,Large (2000-5000)

In [34]:
#sort school summary to show worst performing schools
bottom_schools = schoolsummary_df.sort_values('% Passing Overall', ascending=True).head(5)
bottom_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Passing Overall
School Name,,,,,,,,,
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

In [35]:
#filter by year 9 students only
year9_locate = school_data_complete.loc[school_data_complete['year']==9,:]

In [36]:
#average maths scores for each schools year 9's
year9_mathsscore_ave = year9_locate.groupby(['school_name'])['maths_score'].mean()
year9_mathsscore_ave

school_name
Bailey High School       72.493827
Cabrera High School      72.321970
Figueroa High School     68.477804
Ford High School         69.021609
Griffin High School      72.789731
Hernandez High School    68.586831
Holden High School       70.543307
Huang High School        69.081754
Johnson High School      69.469286
Pena High School         71.996364
Rodriguez High School    71.940722
Shelton High School      72.932075
Thomas High School       69.234273
Wilson High School       69.212361
Wright High School       71.741176
Name: maths_score, dtype: float64

In [37]:
#filter by year 10's only
year10_locate = school_data_complete.loc[school_data_complete['year']==10,:]

In [38]:
#average maths score of year 10 students at each school
year10_mathsscore_ave = year10_locate.groupby(['school_name'])['maths_score'].mean()
year10_mathsscore_ave

school_name
Bailey High School       71.897498
Cabrera High School      72.437768
Figueroa High School     68.331586
Ford High School         69.387006
Griffin High School      71.093596
Hernandez High School    68.867156
Holden High School       75.105263
Huang High School        68.533246
Johnson High School      67.990220
Pena High School         72.396000
Rodriguez High School    71.779808
Shelton High School      72.506696
Thomas High School       70.057007
Wilson High School       69.455446
Wright High School       72.179012
Name: maths_score, dtype: float64

In [39]:
#filter by year 11's only
year11_locate = school_data_complete.loc[school_data_complete['year']==11,:]

In [40]:
#average maths scores of year 11's at ecah school
year11_mathsscore_ave = year11_locate.groupby(['school_name'])['maths_score'].mean()
year11_mathsscore_ave

school_name
Bailey High School       72.374900
Cabrera High School      71.008299
Figueroa High School     68.811001
Ford High School         69.248862
Griffin High School      71.692521
Hernandez High School    69.154412
Holden High School       71.640777
Huang High School        69.431345
Johnson High School      68.637730
Pena High School         72.523438
Rodriguez High School    72.364811
Shelton High School      70.097087
Thomas High School       69.657831
Wilson High School       68.378965
Wright High School       73.275862
Name: maths_score, dtype: float64

In [41]:
#filter by year 12's only
year12_locate = school_data_complete.loc[school_data_complete['year']==12,:]

In [42]:
#average maths score of year 12's at each school
year12_mathsscore_ave = year12_locate.groupby(['school_name'])['maths_score'].mean()
year12_mathsscore_ave

school_name
Bailey High School       72.675097
Cabrera High School      70.604712
Figueroa High School     69.325282
Ford High School         68.617811
Griffin High School      71.469178
Hernandez High School    68.985075
Holden High School       73.409639
Huang High School        68.639316
Johnson High School      69.287393
Pena High School         71.187845
Rodriguez High School    72.154626
Shelton High School      72.331536
Thomas High School       69.369822
Wilson High School       69.787472
Wright High School       70.848238
Name: maths_score, dtype: float64

In [43]:
#set index column for scores per year group to school name
mathsscorebyyear_df = pd.DataFrame(index=school_name_index.index)

In [44]:
#add columns to maths scores per year group
mathsscorebyyear_df['Year 9'] = year9_mathsscore_ave
mathsscorebyyear_df['Year 10'] = year10_mathsscore_ave
mathsscorebyyear_df['Year 11'] = year11_mathsscore_ave
mathsscorebyyear_df['Year 12'] = year12_mathsscore_ave

In [45]:
#print maths scores df
mathsscorebyyear_df

                          Year 9    Year 10    Year 11    Year 12
School Name
Huang High School      69.081754  68.533246  69.431345  68.639316
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Shelton High School    72.932075  72.506696  70.097087  72.331536
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Griffin High School    72.789731  71.093596  71.692521  71.469178
Wilson High School     69.212361  69.455446  68.378965  69.787472
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Bailey High School     72.493827  71.897498  72.374900  72.675097
Holden High School     70.543307  75.105263  71.640777  73.409639
Pena High School       71.996364  72.396000  72.523438  71.187845
Wright High School     71.741176  72.179012  73.275862  70.848238
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Johnson High School    69.469286  67.990220  68.637730  69.287393
Ford High School       69.021609  69.387006  69.248862  68.617811
Thomas High School     69.234273  70.057007  69.657831  69.369822

In [46]:
#average reading score of year 9's at each school
year9_readscore_ave = year9_locate.groupby(['school_name'])['reading_score'].mean()
year9_readscore_ave

school_name
Bailey High School       70.901920
Cabrera High School      71.172348
Figueroa High School     70.261682
Ford High School         69.615846
Griffin High School      72.026895
Hernandez High School    68.477569
Holden High School       71.598425
Huang High School        68.670616
Johnson High School      68.719286
Pena High School         70.949091
Rodriguez High School    70.902921
Shelton High School      70.715094
Thomas High School       69.672451
Wilson High School       68.683043
Wright High School       71.823529
Name: reading_score, dtype: float64

In [47]:
#average reading score of year 10's at each school
year10_readscore_ave = year10_locate.groupby(['school_name'])['reading_score'].mean()
year10_readscore_ave

school_name
Bailey High School       70.848265
Cabrera High School      71.328326
Figueroa High School     67.677588
Ford High School         68.988701
Griffin High School      70.746305
Hernandez High School    70.621842
Holden High School       71.096491
Huang High School        69.516297
Johnson High School      69.295029
Pena High School         72.324000
Rodriguez High School    70.137500
Shelton High School      69.879464
Thomas High School       69.741093
Wilson High School       68.412541
Wright High School       71.386831
Name: reading_score, dtype: float64

In [48]:
#average reading score of year 11's at each school
year11_readscore_ave = year11_locate.groupby(['school_name'])['reading_score'].mean()

In [49]:
#average reading score of year 12's at each school
year12_readscore_ave = year12_locate.groupby(['school_name'])['reading_score'].mean()

In [50]:
#set index column of reading scores per year group df to school names
readingscorebyyear_df = pd.DataFrame(index=school_name_index.index)

In [51]:
#add year group columns to reading ave df
readingscorebyyear_df['Year 9'] = year9_readscore_ave
readingscorebyyear_df['Year 10'] = year10_readscore_ave
readingscorebyyear_df['Year 11'] = year11_readscore_ave
readingscorebyyear_df['Year 12'] = year12_readscore_ave

In [52]:
#print reading scores per year group df
readingscorebyyear_df

                          Year 9    Year 10    Year 11    Year 12
School Name
Huang High School      68.670616  69.516297  68.740638  68.671795
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Shelton High School    70.715094  69.879464  71.150485  69.070081
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Griffin High School    72.026895  70.746305  72.385042  69.434932
Wilson High School     68.683043  68.412541  68.796327  69.888143
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Bailey High School     70.901920  70.848265  70.317346  72.195525
Holden High School     71.598425  71.096491  73.310680  70.481928
Pena High School       70.949091  72.324000  71.703125  71.513812
Wright High School     71.823529  71.386831  70.475862  69.821138
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Johnson High School    68.719286  69.295029  69.969115  67.992521
Ford High School       69.615846  68.988701  70.735964  68.849722
Thomas High School     69.672451  69.741093  70.749398  68.730769

In [53]:
#define bins and labels for spending ranges
spending_bins=[0,585,630,645,680]
labels = ['<$585', '$585-630','$630-645','$645-680']

In [54]:
#add spending ranges column to school summary df
schoolsummary_df['Spending Ranges (Per Student)'] = pd.cut(schoolsummary_df['Per Student Budget'],spending_bins, labels=labels)

In [55]:
#check that bin was added successfully
schoolsummary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Passing Overall,Spending Ranges (Per Student)
School Name,,,,,,,,,,
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630

In [56]:
#average maths scores per spending range
spending_maths_scores = schoolsummary_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_maths_scores

Spending Ranges (Per Student)
<$585       71.364587
$585-630    72.065868
$630-645    69.854807
$645-680    68.884391
Name: Average Maths Score, dtype: float64

In [57]:
#average reading score per spending range
spending_reading_scores = schoolsummary_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_reading_scores

Spending Ranges (Per Student)
<$585       70.716577
$585-630    71.031297
$630-645    69.838814
$645-680    69.045403
Name: Average Reading Score, dtype: float64

In [58]:
#average passing maths score per spending range
spending_passing_maths = schoolsummary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_maths

Spending Ranges (Per Student)
<$585       88.835926
$585-630    91.518824
$630-645    84.686139
$645-680    81.568470
Name: % Passing Maths, dtype: float64

In [59]:
#average passing reading score per spending range
spending_passing_reading = schoolsummary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()

In [60]:
#average overall passing score per spending range
overall_passing_spending = schoolsummary_df.groupby(["Spending Ranges (Per Student)"])["% Passing Overall"].mean()

In [61]:
#define spending ranges list
spending_ranges = schoolsummary_df['Spending Ranges (Per Student)'],

In [62]:
#set index as spending ranges
spending_summary_df = pd.DataFrame(index=labels)

In [63]:
#set title of the index column and test result
spending_summary_df.index.names = ['Spending Ranges (Per Student)']
spending_summary_df

Empty DataFrame
Columns: []
Index: [<$585, $585-630, $630-645, $645-680]

In [64]:
#add columns to spending ranges df
spending_summary_df = pd.DataFrame({
    'Average Maths Score':spending_maths_scores,
    'Average Reading Score':spending_reading_scores,
    '% Passing Maths':spending_passing_maths,
    '% Passing Reading':spending_passing_reading,
    '% Passing Overall':overall_passing_spending
})

In [65]:
#display spending ranges df
spending_summary_df

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Passing Overall
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

In [67]:
#define bins and labels for school size according to no of students
size_bins = [0, 1000, 2000, 5000]
labels_size = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

In [70]:
#create bin and add in column in school summary df
schoolsummary_df['School Size'] = pd.cut(schoolsummary_df['Total Students'],size_bins, labels=labels_size)
schoolsummary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Passing Overall,Spending Ranges (Per Student),School Size
School Name,,,,,,,,,,,
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680,Large (2000-5000)
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645,Large (2000-5000)
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630,Medium (1000-2000)
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680,Large (2000-5000)
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630,Medium (1000-2000)

In [71]:
#average math score per school size
size_maths_scores = schoolsummary_df.groupby(["School Size"])["Average Maths Score"].mean()
size_maths_scores

School Size
Small (<1000)         72.335748
Medium (1000-2000)    71.421650
Large (2000-5000)     69.751809
Name: Average Maths Score, dtype: float64

In [72]:
#average reading score per school size
size_reading_scores = schoolsummary_df.groupby(["School Size"])["Average Reading Score"].mean()
size_reading_scores

School Size
Small (<1000)         71.636864
Medium (1000-2000)    70.720164
Large (2000-5000)     69.576052
Name: Average Reading Score, dtype: float64

In [73]:
#average score of students passing maths per school size
size_passing_maths = schoolsummary_df.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_maths

School Size
Small (<1000)         90.806867
Medium (1000-2000)    89.846560
Large (2000-5000)     84.252804
Name: % Passing Maths, dtype: float64

In [80]:
#average passing reading per school size
size_passing_reading = schoolsummary_df.groupby(["School Size"])["% Passing Reading"].mean()

In [75]:
#average overall passing per school size
overall_passing_size = schoolsummary_df.groupby(["School Size"])["% Passing Overall"].mean()

In [76]:
#set index column sop school size df
per_school_summary = pd.DataFrame(index=labels_size)
per_school_summary

Empty DataFrame
Columns: []
Index: [Small (<1000), Medium (1000-2000), Large (2000-5000)]

In [79]:
#rename index column
per_school_summary.index.names = ['School Size']
per_school_summary

Empty DataFrame
Columns: []
Index: [Small (<1000), Medium (1000-2000), Large (2000-5000)]

In [81]:
#add columns to school size df
per_school_summary = pd.DataFrame({
    'Average Maths Score':size_maths_scores,
    'Average Reading Score':size_reading_scores,
    '% Passing Maths':size_passing_maths,
    '% Passing Reading':size_passing_reading,
    '% Passing Overall':overall_passing_size
})

In [95]:
#display df
per_school_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Passing Overall
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [87]:
#define and insert index column for school type df
school_types_index = ['Government', 'Independent']
type_summary = pd.DataFrame(index=school_types_index)
type_summary.index.names = ['School Type']
type_summary

Empty DataFrame
Columns: []
Index: [Government, Independent]

In [88]:
#average maths score per type
type_maths_scores = schoolsummary_df.groupby(["School Type"])["Average Maths Score"].mean()
type_maths_scores

School Type
Government     69.834806
Independent    71.368822
Name: Average Maths Score, dtype: float64

In [89]:
#average reading score per type
type_reading_scores = schoolsummary_df.groupby(["School Type"])["Average Reading Score"].mean()
type_reading_scores

School Type
Government     69.675929
Independent    70.718933
Name: Average Reading Score, dtype: float64

In [90]:
#average maths passing percentage per type
type_passing_maths = schoolsummary_df.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_maths

School Type
Government     84.462375
Independent    89.204043
Name: % Passing Maths, dtype: float64

In [91]:
#average reading passing percentage per type
type_passing_reading = schoolsummary_df.groupby(["School Type"])["% Passing Reading"].mean()

In [92]:
#average overall passing percentage per type
overall_passing_type = schoolsummary_df.groupby(["School Type"])["% Passing Overall"].mean()

In [94]:
#add columns to type summary df
type_summary = pd.DataFrame({
    'Average Maths Score':type_maths_scores,
    'Average Reading Score':type_reading_scores,
    '% Passing Maths':type_passing_maths,
    '% Passing Reading':type_passing_reading,
    '% Passing Overall':overall_passing_type
})
type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Passing Overall
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340